{% extends 'todoList/main.html' %}
{% block content %}

<div class="header-bar">
  <h1>Minha Lista de Tarefas</h1>
</div>

<div id="search-add-wrapper">
  <form method="GET" style="display: flex;">
    <input type='text' name='search-area' placeholder="Pesquise por sua tarefa" value="{{search_input}}">
    <input class="button" type="submit" value='Pesquisar'>
  </form>
  {% if tasks|length > 0 %}
  <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
  {% endif %}
</div>

<div id="tasklist" class="task-items-wrapper">

  {% if tasks %}
  {% for task in tasks %}
  <div class="task-wrapper" data-position="{{ task.pk }}">
  <div class="task-title">
    {% if task.complete %}
      <div class="task-complete-icon"></div>
      <i><s><span class="task-name">{{ task }}</span></s></i>
    {% else %}
      <div class="task-incomplete-icon"></div>
      <span class="task-name">{{ task }}</span>
    {% endif %}
  </div>

  <div class="task-controls">
    <a class="view-link"   href="{% url 'task-update' task.id %}">&#128065;</a>
    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
  </div>
</div>

  {% endfor %}

  {% else %}
  {% if search_input %}
  <div style="text-align: center; padding: 20px;">
    <h3>Não foi encontrada nenhuma tarefa para este filtro.</h3>
    <h4><a href="{% url 'tasks' %}">Voltar à lista completa</a></h4>
  </div>
  {% else %}
  <div style="text-align: center; padding: 20px; line-height: 1em;">
    <h3>Não há tarefas criadas</h3>
    <h3>Crie uma <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">Nova Tarefa</a>!</h3>
  </div>
  {% endif %}
  {% endif %}

</div>

{% endblock content %}